body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://media3.giphy.com/media/VIe5NOnlPxJ9FcONBq/200w.gif?cid=82a1493blqiqxte9ps7ummb7ikcmwfax6my58nlyco5pxywz&ep=v1_gifs_search&rid=200w.gif&ct=g");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.tenor.com/hjwx8o9qcCYAAAAM/dance-emoji.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.tenor.com/4UYoVz07tXAAAAAS/tom-and-jerry-heart-eyes.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media3.giphy.com/media/K5YC2HXUjUPjDM3kjj/200w.webp?cid=ecf05e47kkdzhkmdgk2jka6wmgwjd4enxx8c68725veotj9g&ep=v1_gifs_search&rid=200w.webp&ct=g");
}
